<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unit converter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>

    <nav>
        <ul>
                <li>
                    <a href="http://localhost:8080/web/api/lengths">Długość
                    <span></span><span></span><span></span><span></span>
                    </a>
                </li>

            <li>
                <a href="http://localhost:8080/web/api/mass">Masa
                <span></span><span></span><span></span><span></span>
                </a>
            </li>
            <li>
                <a href="http://localhost:8080/web/api/temperatures">Temperatura
                <span></span><span></span><span></span><span></span>
                </a>
            </li>
            <li>
                <a href="http://localhost:8080/web/api/times">Czas
                <span></span><span></span><span></span><span></span>
                </a>
            </li>
            <li>
                <a href="http://localhost:8080/web/api/velocity">Prędkość
                <span></span><span></span><span></span><span></span>
                </a>
            </li>
        </ul>
    </nav>

</body>
</html>